.morePage {
    display: grid;
    /*gap: 2em;*/
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
}

.mainWindow {
    grid-column: 1 / 2;
}

.sideWindow {
    grid-column: 2 / 3;
    background-color: rgba(13, 68, 186, 0.582);
    padding-left: 20px;
}

.uniShowcase {
    display:block;
}

.uniShowcase img{
    margin-right: 15px;
    width: 100px;
    height: 80px;
    float: left;
}

.horizons{
    background-color: rgba(180, 180, 180, 0.3);
    width:100%;
}

.imgGallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.imgGallery img{
    width: 100%;
    height: auto;
    display: block;
}

